@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #fff;
}

.area{
  background: #fff;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  position: absolute;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #ff781d;
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------Navbar Design---------------------------- */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 60px 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  transition: all 300ms ease-in-out;
  
  /* transition: .5s;
  z-index: 999; */
}

.header .logo img {
  position: relative;
  max-width: 9vw;
}
.header .navbar {
  position: relative;
  display: flex;
  
}
.header .navbar li {
  list-style: none;

  display: inline-block;
  margin-left: 3em;
  cursor: pointer;
}
.header .navbar li a{
  font-size: 20.8px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

/* .header .navbar li .menu-item > div{
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
} */
.menu-item .menu-item-text{
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
  font-size: 20.8px;
  
}
/* .menu-item > div:nth-child(1) span{
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}
.menu-item > div:nth-child(2) span{
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}
.menu-item:hover > div:nth-child(1) span{
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}
.menu-item:hover > div:nth-child(2) span{
  transform: translate3d(0, 0%, 0) rotateX(0deg);
} */


/* scroll effect */

.scroll-down .header{
  transform: translate3d(0, -100%, 0);
}
.scroll-up .header{
  height: 10vh !important;
  background: #000;
  filter: drop-shadow(0 -10px 20px rgb(170,170,170))
}
.scroll-up .header li a{
  color: #fff;
}
/* -------------------------------------Left Content----------------------------- */
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.content .textContent {
  margin-top: 30px;
  max-width: 38rem;
  position: relative;
  
}
.content .textContent .content-T{
  position: relative;
}
.content .textContent h1 {
  color: #000;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 700px;
  
}
.content .textContent h1 span {
  font-size: 3rem;
}
.message {
  background-color: #ff8b3d;
  color: #fff;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 290px;
  animation: openclose 5s ease-in-out infinite;
}
.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
.content .textContent .content-left {
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 38rem;
  position: inherit;  
  line-height: 1.8;
  letter-spacing: -0.1rem;
}


.content .textContent .content-1 {
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
  position: inherit;
  display: inline-block;
  font-weight: 500;
  letter-spacing: -0.1rem;
  
}

.content-1 .content-1-text{
  pointer-events: none;
  display: block;
  line-height: 1.8;
  position: relative;
  font-size: 1.8rem;  
}

.content-1 > div:nth-child(1) span{
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}
.content-1 > div:nth-child(2) span{
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.content-1:hover > div:nth-child(1) span{
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}
.content-1:hover > div:nth-child(2) span{
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}


.sci .wrapper .button{
  display: inline-block;
 
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.sci .wrapper .button:hover{
  width: 200px;
}
.sci .wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.sci .wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.sci .wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.sci .wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.sci .wrapper .button:nth-child(4):hover .icon{
  background: #FF0000;
}
.sci .wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.sci .wrapper .button:hover .icon i{
  color: #fff;
}

.sci .wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.sci .wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.sci .wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.sci .wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.sci .wrapper .button:nth-child(4) span{
  color: #FF0000;
}



/* -----------------------------------Right Side Content------------------------------------ */



.content .rightC {
  position: relative;
  margin-top: 0vh;
}
.content .rightC .workSpace {
  margin-bottom: 1.66667rem;
  margin-right: 6em;
  position: relative;
  display: block;
}
.content .rightC .workSpace li{
    list-style: none;
       
}
.content .rightC .workSpace li p{
    font-size: 1rem;
    margin-top: 30% !important;
    display: block;
  
}
.content .rightC .workSpace li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    position: absolute;
   
    
}



.content .rightC .workSpace li .workHead {
  font-size: 2.16667rem;
  
  font-weight: 500;
  color: #ff781d;
  /* #5CB3FF */
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.content .rightC .hiring{
    position: relative;
    margin-top: 3rem;
    /* max-width: 30vw; */
    
}
.content .rightC .hiring li{
    list-style: none;
}
.content .rightC .hiring li p{
    font-size: 1rem;
    margin-top: 20% !important;
    
}
.content .rightC .hiring li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    position: absolute;
}
.content .rightC .hiring li .hire{
    font-size: 2.16667rem;
    font-weight: 500;
    color: #ff781d;
    /* #5CB3FF */
    line-height: 1.5;
    margin-bottom: 1.5rem;
}


.content .textContent .content-T .sci{
    position: relative;
    margin-top: 3rem;
}
.content .textContent .content-T .sci li{
    list-style: none;
}
.content .textContent .content-T .sci li p{
    font-size: 2.16667rem;
    font-weight: 500;
    color: #ff781d;
    /*#68a0b0*/
    /* #5CB3FF */
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 0.2rem !important;
}
.content .textContent .content-T .sci li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    position: absolute;
}
@media (max-width: 1024px)  {
 .area{
  background: #fff;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  position: absolute;
 }
 .circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width:1005px)  {
  .header{
    padding: 20px 60px;
    transition: none;
  }
  .header .logo img{
    max-width: 80px;
  }
  .header ul{
    display: none;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    left:40%;
    cursor: pointer;
    background: url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active{
    left: 40%;
  
    background: url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

  }
  .header ul.navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }
  .header ul li a {
    font-size: 1.5em;
    margin: 10%;
    overflow: hidden;
  }
  /* .menu-item > div:nth-child(1) span{
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--hove));
    transform-origin: bottom;
    display: inline-block;
  }
  .menu-item > div:nth-child(2) span{
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--hove));
    transform-origin: top;
    display: inline-block;
    transform: translate3d(0, 100%, 0) rotateX(90deg);
  } */
  
  .scroll-up .header{
    height: 10vh !important;
    background: #fff;
    filter: drop-shadow(0 -10px 20px rgb(170,170,170))
  }

  .content .textContent {
  margin-top: 30px;
  max-width: 32rem;
  position: relative;
  
}
  .content .textContent h1 span {
    font-size: 3rem;
}
.content .textContent h1 {
  color: #000;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 480px;
  
}
.content .textContent h1 span {
  font-size: 2rem;
}
.message {
  background-color: #ff8b3d;
  color: #fff;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 200px;
  animation: openclose 5s ease-in-out infinite;
}
  .content .textContent .content-left{
    font-size: 1.3rem;
    width: 30rem
  }
  .content .textContent .content-1{
    font-size: 1.3rem;
  } 
  .content .rightC .workSpace li .workHead{
    font-size: 2rem;
  }
  .content .rightC .hiring li .hire{
    font-size: 2rem;
  }
  .content .rightC .hiring li p{
    margin-top: 30%;
  }
  .content .rightC {
    position: relative;
    margin-top: 0vh;
    left: 5rem;
  }
 

} 


 
} 
@media (max-width: 940px){
  .content .textContent {
    max-width: 28rem;
    position: relative;
    
  }
  .content .textContent .content-left {
    max-width: 30rem;
  }
}
@media only screen and (width: 912px){
  .area{
    background: #fff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position: absolute;
   }
   .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    
    
  }
  
  .content .rightC{
    position: relative;
    left: -0%;
  }
}

@media (max-width: 904px){
  .area{
    background: #fff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:150vh;
    position: absolute;
   }
   .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    overflow: hidden;
  }
  .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    
    
  }
  .content .rightC{
    position: relative;
    left: -0%;
  }
  
}
@media only screen and (max-width: 820px){
  .area{
    width: 100%;
    height: 100vh;
  }
  .circles{
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 590px){
  section{
    padding: 50px;
  }
  .content .textContent h1 span {
    font-size: 2rem;
    font-weight: 600;
  }
  .message{
    visibility: hidden;  
    animation: none; 
    left: 180px
    
  }
  .message::after{
    visibility: visible;
    font-size: 2rem;
    position: absolute;
    top: 16.5px;
    
    color: #000;
    content: "CREATIVE";
    font-weight: 600;
    width: 400px;
  }
  .word1 .word2 .word3{
    visibility: hidden;
  }
  .content .textContent .content-left{
    font-size: 1.3rem;
    width: 28rem;
  }
  .content .textContent .content-1{
    font-size: 1.3rem;
  } 
 
 
  
}
@media (max-width: 550px){


  .area{
    padding: 0;
    width: 100%;
    height: 160vw;
  }
  .circles{
    padding: 0;
    width: 100%;
    height: 160vh;
  
  }
  
  .circles li:nth-child(10){
    display: none;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    left:35%;
    cursor: pointer;
    background: url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active{
    left: 35%;
  
    background: url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

  }
  .content .textContent .content-left{
    font-size: 1.3rem;
    width: 100%;
  }
  .content .textContent .content-1{
    font-size: 1.3rem;
  } 
  
  .sci .wrapper{
    display: flex;
    flex-direction: column;
  }
  .sci .wrapper .button{
    display: inline-block;
   
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    background: #fff;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .sci .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .content .textContent {
    margin-top: 30px;
    max-width: 100%;
    position: relative;
  }

  .message::after{
    visibility: visible;
    font-size: 2rem;
    position: absolute;
    top: 16.5px;
    
    color: #000;
    content: "CREATIVE";
    font-weight: 600;
    width: 300px;
  }


.content-1 > div:nth-child(1) span{
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}
.content-1 > div:nth-child(2) span{
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.content-1:hover > div:nth-child(1) span{
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}
.content-1:hover > div:nth-child(2) span{
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}

  
}
@media (max-width: 450px){
  .area{
    background: #fff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:120vh;
    position: absolute;
    
   
  }
  
  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    overflow: hidden;
  }
  .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    top: 10%;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    left:30%;
    cursor: pointer;
    background: url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active{
    left: 30%;
  
    background: url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

  }
  .content .textContent h1 span {
    font-size: 1.5rem;
    display: none
}
.message::after{
  visibility: visible;
  font-size: 1.5rem;
  position: absolute;
  top: 22.5px;
  right: 30px;
  color: #000;
  content: "CREATIVE";
  font-weight: 600;
  width: 300px;
}
.content .textContent .content-left{
  font-size: 1rem;
  width: 18rem;
}
.content .textContent .content-1{
  font-size: 1rem;
} 
.content .rightC .workSpace li .workHead{
  font-size: 1.5rem;
}
.content .rightC .hiring li .hire{
  font-size: 1.5rem;
}

.content .rightC .workSpace li p{
  font-size: 1rem;
  margin-top: 40% !important;
  display: block;

}
}
@media (max-width: 395px){
  .area{
    width: 100%;
    height: 123vh;
  }
  .circles{
    height: 123vh;
  }
  
  .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    top: 20%;
  }}
@media (max-width: 389px){
 .area{
  width: 100%;
  height: 170vh;
 }
 .circles{
  width: 100%;
  height: 170vh;
 }
  .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    top: 40%;
  }}
  @media (max-width: 360px){
    .content {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:left;
      align-items: flex-start;
      top: 30%;
    }
    .area{
      width: 100%;
      height: 150vh;
     }
     .circles{
      width: 100%;
      height: 150vh;
     }
  }
  @media (max-width: 280px){
    .content{
      top: 20%;
    }
  }
/*-----------------------Galaxy Fold-------------------------------  */
  @media (max-width: 280px){
    .content{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:left;
      align-items: flex-start;
      top: 40%;
    }
   
  }